<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 	<title>Practica</title>
 	
 	<!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 	
 	
 </head>
 <body>
	<div class="model-dialog text-center">
		<div class="col-sm-8">
			<div class="modal-content">
				<form class="col-12">
					<a href="empleado.html" class="btn btn-primary btn-lg btn-block" role="button">Empleados</a>
					<a href="solicitud.html" class="btn btn-primary btn-lg btn-block" role="button">Solicitudes</a>		
				</form>
			</div>
		</div>
	</div>	
 </body>
 </html>